.h-space {
	margin: 0 0.25rem;
}
.padding-bottom {
	padding-bottom: 1rem;
}

.column,
.edit-dialog-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row,
.custom-li-item,
.custom-li-item-actions,
.edit-dialog-footer {
	width: 100%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.custom-li-item {
	padding: 0 1rem;
	justify-content: space-between;
}

.custom-li-item-actions,
.edit-dialog-footer {
	justify-content: flex-end;
}

.edit-dialog-footer {
	padding: 0.25rem 0.5rem;
}

.edit-dialog-content {
	align-items: flex-start;
	min-width: 300px;
}

.list,
.input,
.custom-li-item-title {
	width: 100%;
}

.input {
	padding-right: 1rem;
}